<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/"><img src="../../assets/images/teach-the-child-logo-small.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a routerLink="/">Home</a></li>
                    <li class="scroll"><a href="#features">Funny Letters</a></li>
                    <li class="scroll"><a href="#services">Funny Maths</a></li>
                    <li class="scroll"><a href="#portfolio">Games</a></li>
                    <li class="scroll"><a href="#about">Songs</a></li>
                    <li class="scroll"><a href="#meet-team">Videos</a></li>
                    <li class="scroll"><a href="#blog">Blog</a></li> 
                    <li class="scroll"><a routerLink="/contact">Contact</a></li>                        
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->
